*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/* Shared Styles */

.font-open-sans{
  
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
    background-color: #ffffff;
}


/* Main Styles */

nav {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 140px; 
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: #000000;

}

.btn a {
    background-color: #4a8f63;
    color: #fff;
    padding: 12px 22px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
}

/* Banner */


#banner {
    height: 90vh;
    background-image: url("./images/hero-bg.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 120px;
}


.banner-heading h1 {
    
    font-size: 42px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #ffffff;
}

.banner-heading h1 span {
    color: #3fbf7f;
}



.banner-container p {
    width: 70%;
    margin: 0 auto 30px auto;
    font-size: 16px;
    line-height: 1.6;
    color: #d3dce3;
}

/* Button container */
.banner-container div {
    margin-top: 20px;
}

/* Buttons */
.btn {
    padding: 12px 22px;
    font-size: 14px;
    border-radius: 5px;
    margin: 5px;
}

.btn:first-child {
    background-color: #3fbf7f;
    border: none;
    color: #0b1d2a;
}

.btn:last-child {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

/* Notice Section */

#notes{
    padding: 70px 0;
}

#notes .note-heading{
    text-align: center;
    max-width: 900px;
    margin: 0 auto 40px;
}

.note-heading h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
    
}

 .note-heading p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 30px;
}

#notes .note-container{

  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.note-container .note-card{
 
    width: 250px;
    padding: 30px 20px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 25, 49, 0.08);
    
    
}


.note-card img{
    width:45px;
    margin: bottom 16px;
    background-color: #F95555
     
}

.note-card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 8px;

}

.note-card p {
    font-size: 14px;
    color: #627382;
}

