*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/* Shared Styles */

.font-open-sans{
  
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header {
    background-color: #ffffff;
}


/* Main Styles */

nav {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 140px; 
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a{
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: #000000;

}

.btn a {
    background-color: #4a8f63;
    color: #fff;
    padding: 12px 22px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
}

/* #banner{
  width: 100%; 
  height: 674px;  
  background-image: url(./images/hero-bg.png);
  object-fit: cover;
  
}

#banner .banner-container{
    width: 1360px;
    height: 379px;
    display: block;
    text-align: center;
  
    
}
/* 
.banner-heading h1{
    font-size: 40px;
    color: #FFFFFF;
}
.banner-heading h1 span{
    color:#30B868 ;
} */ 


/* Basic reset */

/* Banner section */
#banner {
    height: 100vh;
    background-image: url("./images/hero-bg.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 120px;
}

/* Heading */
.banner-heading h1 {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 20px;
}

.banner-heading h1 span {
    color: #3fbf7f;
}

/* Paragraph */
.banner-container p {
    width: 70%;
    margin: 0 auto 30px auto;
    font-size: 16px;
    line-height: 1.6;
    color: #d3dce3;
}

/* Button container */
.banner-container div {
    margin-top: 20px;
}

/* Buttons */
.btn {
    padding: 12px 22px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

/* First button */
.btn:first-child {
    background-color: #3fbf7f;
    border: none;
    color: #0b1d2a;
}

/* Second button */
.btn:last-child {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}


